@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'VT323', monospace;
    justify-content: space-between;
}

.navbar li {
    list-style: none;
    background: rgba(142, 250, 209, 0.473);
    border: 1px solid rgba(0, 128, 128, 0.26);
    margin: 10px
}

.navbar li:hover {
    background: rgba(2, 139, 105, 0.555);
}

.navbar li:hover a {
    color: white;
}

.navbar li a {
    text-decoration: none;
    font-size: 1em;
    color: rgb(0, 218, 218);

}

